h1{
    text-align: center;
    color:rgb(224, 50, 19) ;
    background:rgb(139, 56, 0);
    margin: 0px;
}
  
  .page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background:  url("../images/jof.jpg") no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
    font-size: 20px;
  }

  .odiiin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../images/odini.jpg") no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
    font-size: 20px;
  }
  
  .yaro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../images/eba.jpg") no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
    font-size: 20px;
    color: rgb(98, 0, 255);
    text-align: center;
    font-weight: bold;
    
  }

  .page-main div {
    max-width: 500px;
  }
  
  @media screen and (min-width: 768px) {
    .page-main {
      padding-left: 90px;
    }
  }
 

  p:hover, a:hover {
    background-color: yellow;
    
  }
 
a{
    display: flex;
    margin: 0px;
    padding: 1px;
    width: 70px;
    background-color: darkgreen;
}
li:before { 
    content: '\1F95E'; 
    margin-left: -20px;
    margin-right: 10px; 
}
li,ul.nb {
    list-style-type: none;
}